*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.sidebar__sumario {
    width: 20%;
    margin: 20px;
    border-radius: 10px;
}

.content__documentation {
    width: 80%;
    margin: 20px;
}

.main {
    display: flex;
    justify-content: space-between;
    height: 100%; /* <--------------------------------------------------------------------------------- */
}

/*  SIDEBAR SUMARY */

.title__sumario__documentation {
    padding: 40px;
    text-align: center;
    border-bottom: 1px solid #000;
    border-radius: 10px;
    background-color: #fdbf5c;;
}

.itens__sumario {
    padding: 25px 40px;
}

.itens__sumario ul li ol {
    margin-left: 15px;
}

ul > li {
    padding: 10px;
}

.content__documentation {
    padding: 40px;
}

.content__documentation .title__documentation {
    padding: 10px;
    color: #666666;
    opacity: 0.8;
}

.content__documentation > .about {
    padding: 10px;
}

.content__documentation > .about > p {
    padding: 10px 0;
}

.content__documentation > .about > ul li {
    padding: 0 20px;
    list-style-type: none;
    font-weight: bold;
    color: #d43a00;
}

.comentario {
    color: green;
}

.item {
    margin-top: -25px !important;
}

/* Criando as cores das tag */

.azul__tag__php {
    color: rgb(56, 93, 161);
}

.amarelo__metodo {
    color: #b7dcaa;
}

.cor__texto {
    color: rgb(121, 95, 73);
}

.cor__include {
    color:#c586c0;
}

.cor__var__especial {
    color: rgb(155, 155, 236);
}

.pl-20 {
    padding-left: 20px;
}

.pl-40 {
    padding-left: 40px;
}